.exp {
    width: 1000px;
    margin: auto;
    padding: 76px 0;
}

.title {
    color: #CCD6F6;
    font-weight: 700;
    font-size: 32px;
    font-family: var(--font-sans);

    span {
        color: #29BF12;
    }

    margin-bottom: 50px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    border-radius: 5px;
    background-color: #29BF12;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: #013458;
    top: 20px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #00192B;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #00192B;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #00192B;
    border-width: 10px 10px 10px 0;
    border-color: transparent #00192B transparent transparent;
}

.right::after {
    left: -13px;
}

/* @media screen and (max-width: 600px) {

    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
} */

@media screen and (max-width: 1100px) {
    .exp {
        padding: 76px 40px;
    }
}

@media screen and (max-width: 1000px) {
    .exp {
        width: 100vw;
        padding: 50px 20px;
    }

    .title {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .timeline::after {
        left: 30px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 20px;
    }

    .container::before {
        left: 60px;
        border: medium solid #00192B;
        border-width: 10px 10px 10px 0;
        border-color: transparent #00192B transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0;
    }
}
