.about {
    max-width: 1000px;
    margin: auto;
    padding: 76px 0;
}

.title {
    font-weight: 700;
    font-size: 32px;
    font-family: var(--font-sans);
    color: #CCD6F6;
    margin-bottom: 25px;

    span {
        color: #29BF12;
    }
}

.group {
    display: flex;
    justify-content: space-between;
}

.text {
    font-weight: 500;
    font-size: 20px;
    font-family: var(--font-body);
    color: #8892A3;
    margin-bottom: 25px;
    width: 80%;

    span {
        text-decoration: underline;
        color: #29BF12;
    }
}

.text b {
    color: #29BF12;
    font-weight: 500;
    position: relative;
    display: inline-block;
}

.text b::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    display: inline-block;
    height: 2px;
    width: 0;
    border-radius: 5px;
    background-color: #29BF12;
    transition: width 0.3s ease;
}

.text b:hover::after {
    width: 100%;
}

.skills {
    font-family: var(--font-body);
    font-weight: 500;
    font-size: 16px;
    color: #8892A3;
    columns: 2;

    span {
        color: #29BF12;
    }
}

.skillsItem:not(:last-child) {
    margin-bottom: 13px;
}

.skillsItem span {
    margin-right: 10px;
}

.image img {
    width: 300px;
    height: 300px;
    max-width: none;
}

.image {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    max-height: 500px;
}

.image::before,
.image::after {
    content: "";
    position: absolute;
    inset: -3px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.image:nth-child(1):before,
.image:nth-child(1):after {
    background: conic-gradient(from var(--angle), #0c63e7, #060c21, #d11149, #060c21, #0c63e7);
    border-radius: 10px;
}

.image:nth-child(2)::before,
.image:nth-child(2)::after {
    background: conic-gradient(from var(--angle),
            #29BF12 0deg,
            #0D1B0C 45deg,
            #3DFF6D 90deg,
            #121619 135deg,
            #29BF12 180deg,
            #1A1F1C 225deg,
            #3DFF6D 270deg,
            #121619 315deg,
            #29BF12 360deg);
    border-radius: 5px;
}

.image:nth-child(3):before,
.image:nth-child(3):after {
    background: conic-gradient(from var(--angle), #dfff00, #060c21, #9600ff, #060c21, #dfff00);
    border-radius: 10px;
}

.image::after {
    z-index: -2;
    filter: blur(20px);
}

.image:hover::before,
.image:hover::after {
    animation: glowing-border 4.5s linear infinite;
    opacity: 1;
}

.image:hover::after {
    animation: glowing-border 4.5s linear infinite, blur-effect 4.5s linear infinite;
}


@property --angle {
    syntax: "<angle>";
    initial-value: 53deg;
    inherits: false;
}

@keyframes glowing-border {
    from {
        --angle: 53deg;
    }

    to {
        --angle: 413deg;
    }
}

@keyframes blur-effect {
    from {
        filter: blur(20px);
    }

    to {
        filter: blur(19px);
    }
}

@media (max-width: 1100px) {
    .about {
        padding: 76px 40px;
    }

    .image img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 1000px) {
    .about {
        padding: 50px 20px;
    }

    .title {
        font-size: 25px;
    }

    .text {
        font-size: 16px;
    }

    .image img {
        width: 200px;
        height: 200px;
    }

    .image {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 700px) {
    .group {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .text {
        width: 100%;
        font-size: 16px;
    }

    .skills {
        columns: 2;
        font-size: 14px;
    }

    .image img {
        width: 200px;
        height: 200px;
    }

    .image {
        width: 200px;
        height: 200px;
    }
}